<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true"

                     xmlns:log4j='http://jakarta.apache.org/log4j/'>


    <appender name="console" class="org.apache.log4j.ConsoleAppender">

        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern"

                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>

        </layout>

    </appender>


    <appender name="file" class="org.apache.log4j.RollingFileAppender">

        <param name="append" value="false"/>

        <param name="maxFileSize" value="10MB"/>

        <param name="maxBackupIndex" value="10"/>

        <param name="file" value="appLogs.log"/>

        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern"

                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>

        </layout>

    </appender>


    <root>

        <level value="DEBUG"/>

        <appender-ref ref="console"/>

        <appender-ref ref="file"/>

    </root>


</log4j:configuration>
        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<Configuration>-->
        <!--    <Appenders>-->
        <!--        <Console name="Console">-->
        <!--            <PatternLayout>-->
        <!--                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>-->
        <!--            </PatternLayout>-->
        <!--        </Console>-->
        <!--        <RollingFile name="File-Log"-->
        <!--                     filePattern="target/logs/gmailTest-%d{yyyy-MM-dd}.log"-->
        <!--                     fileName = "Logs">-->
        <!--            <PatternLayout>-->
        <!--                <pattern>%d %p %c{2} [%t] %l %m%n</pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
        <!--                <OnStartupTriggeringPolicy/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->
        <!--    </Appenders>-->
        <!--    <Loggers>-->
        <!--        <Root level="Info">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="File-Log"/>-->
        <!--        </Root>-->
        <!--    </Loggers>-->
        <!--</Configuration>-->